/* Add custom styles for the navigation links */
.navbar-nav .nav-link {
  transition: color 0.3s;
  color: white;
}

.navbar-nav .nav-link:hover {
  color: #f44336;
}

.navbar-nav .nav-link.active {
  color: #f44336;
}

.py-5 .container{
  color: white;
  text-align-last: left;
}

